.Server {
    background-color: #C5C9CF;
}

QLineEdit {
    background-color: whitesmoke;
}

QTextEdit {
    background-color: whitesmoke;
    border-radius: 15px;
}

QTableWidget {
    background-color: whitesmoke;
    border-radius: 15px;
}
